.pageContainer {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row; 
    /*background-color: rgb(240, 240, 240);*/
}


.sideBar {
    display: flex;
    flex-direction: column; 
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    max-height: calc(100vh - 48px);
    width: 210px;
    padding: 8px;
}
.previewBox {
    
}

 .helpModalContainer {
     margin-top: 2%;
 }
 .elementsTable {
    width: auto !important;
 }
 .editDataElementLink {
     text-decoration: underline;
     color: black; 
 }
 .importPreview {
     padding: 1%; 
 }
.circularLoader {
    position: absolute !important; 
    z-index: 2;
    left: 50%;
    bottom: 50%;
}
.treeBox {
    max-height: 200px; 
    overflow: scroll; 
    flex-shrink: 1; 
}
.mappingRadioButtons {
    display: flex; 
    flex-direction: row; 
    margin-bottom: 20px; 
}
.leftRadioButton {
    margin-right: 12px; 
}
.sideBarButton {
    width: 50px; 
}
