.pageContainer {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row; 
    /*background-color: rgb(240, 240, 240);*/
}
.sideBar {
    display: flex;
    flex-direction: column; 
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    max-height: calc(100vh - 48px);
}
.orgUnitTreeSpace {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    max-height: 50px;
}
.whoNetController {
    flex-grow: 1;
    width: auto;
    max-width: 92%;
}
.fileUploadCard {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1%;    
}
.fileUploadCardTopContent {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
}
.fileUploadCardBottomContent {
    margin-top: 2%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
 }
 .resultCard {
     margin-top: 2%;
 }
 .helpModalContainer {
     margin-top: 2%;
 }
 .elementsTable {
    width: auto !important;
 }
 .alertBar {
     z-index: 2; 
     position: absolute; 
 }
 .editDataElementLink {
     text-decoration: none;
     color: black; 
 }
 .importPreview {
     padding: 1%; 
 }
 .alertBar {
    bottom: 0;
    position: 'fixed';
    width: '100%';
 }
.circularLoader {
    position: absolute !important; 
    z-index: 2;
    left: 50%;
    bottom: 50%;
}